@font-face {
  font-family: Bitcount;
  src: url(../assets/fonts/BitcountGridDouble_Roman-Regular.ttf);
}
@font-face {
  font-family: Merriweather;
  src: url(../assets/fonts/Merriweather_24pt-Regular.ttf);
}
:root{
    --ag-font-family: Merriweather;
}
html, body {
    margin:0;
    padding:0;
    height: 100%;
    width: 100%;
    font-size: 1rem;
}
html, body, button {
    font-family: Merriweather;
}

.map {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
    background-color: rgb(223, 210, 227);
}