.box {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    position: relative;
    align-items: center;
    align-content: center;
    flex-wrap: nowrap;
}
.box.mid {
    max-width: calc(100vw);
    max-height: calc(100vh);
    overflow: hidden;
}
.box--banner {
    position: sticky;
    display: flex;
    text-align: center;
    background-color: #9654b574;
    padding: .5rem;
    display: none;
    width: -webkit-fill-available;
}
.box--banner .header {
    font-size: 1.5rem;
    color: white;
    margin: auto;
    width: 100%;
    
}
.box--banner .icon {
    width: 50px;
    margin-right: .5rem;
}
.box--content  {
height: 100%;
    width: 100%;

        background-image: url("../images/particle-bg.jpg");
    background-blend-mode: lighten;
    background-color: rgb(214, 147, 190);

}
.box--content:hover {

}
.box--content section {

}
.factoid {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 1rem;
}
.factoid .name {
    font-size: 3vmax;
    font-weight: 600;
}
.factoid .detail {
    font-size: 2vmax;
    font-weight: 100;
}
