.grid {
    height: 90% !important;
    width: 90% !important;
    margin: auto;

    box-shadow: 5px 5px 5px 5px rgb(0 0 0 / 20%);
}

.grid li {
    list-style-type:  none;
    padding: .5rem;
}
.grid-filters .quick-filters{
    display: flex;
}
.grid-filters .quick-filters .filter {
    width: fit-content;
    z-index: 9999;
    padding: .2rem;
    min-width: 175px;
}
.grid-filters {
width: 90% !important;
    margin: auto;
    display: flex;
    justify-content: flex-start;
    padding: .5rem;
    align-items: baseline;
}
.grid-filters .header {

}

.grid-filters button {
    padding: .4rem;
    border-radius: .3rem;
    font-size: 1rem;
    background-color: rgb(147, 45, 137);
    transition: 200ms;
    color: white;
    cursor: pointer;
}
.grid-filters button:hover {
    background-color: rgb(190, 136, 185);
}

