.hide {
    display: none;
    transition: 2s;
}
.grid {
    min-height: 600px;
    box-shadow: 5px 5px 5px 5px rgb(0 0 0 / 20%);
}
.ag-root-wrapper {
    border: 0;
    border-radius: 0;
}
.grid li {
    list-style-type:  none;
    padding: .5rem;
}
.grid-wrapper {
display: flex
;
    width: 100%;
    flex: 0 0 100%;
    flex-direction: row;
    height: 100%;
}
.grid-filters .quick-filters{
    display: flex
;
    flex-direction: column;
}
.grid-filters .quick-filters .filter {
    width: 300px;
    z-index: 9999;
    padding: .5rem;
    max-width: 300px;
    min-width: 300px;
}
.react-select-container {
    margin-bottom: .5rem;
    max-width: 250px;
}
.grid-filters-controls {
    display: flex;
    flex-direction: column;
}
.grid-filters {
flex: 0;
}
.grid-controls {
display: flex
;
    flex-direction: column;
    padding: 1rem;
}
.grid-controls .header {
text-align: center;
    color: #89305c;
    font-weight: 600;
    margin-bottom: .5rem;
} 
.grid-settings {
    flex: 0;
}
.alert {
    float: right;
    color: #c1349b;
    font-weight: 600;
    font-size: 1.2rem;
    transition: 2s;
}
.setting {
    display: inline-flex;
    padding: 0.5rem;
    width: 100%;
    flex-direction: row;
}
.setting .label {
    margin-right: .5rem;
    margin-top: .05rem;
}
.grid-content {
    flex: 1;
    padding: 1rem;
    max-height: 85vh;
}
.grid-filters .header {

}

.grid-wrapper button {
padding: .4rem;
    border-radius: .3rem;
    font-size: 1rem;
    background-color: rgb(147, 45, 137);
    transition: 200ms;
    color: white;
    cursor: pointer;
    font-size: 1rem;
    margin: .5rem;
    min-width: 175px;
}
.grid-wrapper button:hover {
    background-color: rgb(190, 136, 185);
}
.grid-footer {
display: flex
;
    flex-direction: row;
    align-items: center;
    width: 100%;
}