.grid {
    min-height: 600px;
    box-shadow: 5px 5px 5px 5px rgb(0 0 0 / 20%);
}
.ag-root-wrapper {
    border: 0;
    border-radius: 0;
}
.grid li {
    list-style-type:  none;
    padding: .5rem;
}
.grid-wrapper {
display: flex
;
    width: 100%;
    flex: 0 0 100%;
    flex-direction: row;
}
.grid-filters .quick-filters{
    display: flex
;
    flex-direction: column;
}
.grid-filters .quick-filters .filter {
    width: -webkit-fill-available;
    z-index: 9999;
    padding: .5rem;
}
.grid-filters {
flex: 1;
}
.grid-controls {
display: flex
;
    flex-direction: column;
    padding: 1rem;
}
.grid-controls .header {
    text-align: center;
} 
.grid-settings {
    flex: 1;
}
.setting {
display: inline-flex;
padding: .5rem;
    width: 100%;
    align-items: baseline;
}
.grid-content {
    flex: 2;
    padding: 1rem;
}
.grid-filters .header {

}

.grid-wrapper button {
padding: .4rem;
    border-radius: .3rem;
    font-size: 1rem;
    background-color: rgb(147, 45, 137);
    transition: 200ms;
    color: white;
    cursor: pointer;
    font-size: 1rem;
    margin: .5rem;
    font-family: Bitcount;
}
.grid-wrapper button:hover {
    background-color: rgb(190, 136, 185);
}
.grid-footer {

}